LOGISTIQ_EMAIL=yash.rajvanshi@logistiq.io
LOGISTIQ_PASSWORD=logistiq@123
LOGISTIQ_AUTH_URL=https://logistiqauth-dev.logistiq.me/auth/api/v1/accounts/login
LOGISTIQ_TRACKING_URL=https://logistiqhawk-dev.logistiq.me/allocation/api/v1/tracking/order-details
PORT=8000
